<div class="page-shell">
  <ion-header class="page-header">
    <ion-toolbar color="primary">
      <ion-title>{{ title() }}</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="showHelp()" aria-label="Help">
          <ion-icon [icon]="helpCircleOutline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="page-content" fullscreen="true">
    <div class="page-content__inner ion-padding">
      <ng-content></ng-content>
    </div>
  </ion-content>
</div>
